@import url(../../node_modules/Cesium/build/Cesium/Widgets/widgets.css);
html, body, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

#baseLayerPickerContainer {
    position:absolute;
    top:10px;
    left:5px;
    width:38px;
    height:38px;
}

.cesium-baseLayerPicker-dropDown {
    left: 0;
}

#footprintToggle {
    position:absolute;
    bottom:45px;
    left:5px;
    font-size: x-small;
}